*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

input,
button {
	font-family: inherit;
}

*:focus,
*:active {
	outline: none;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}

.main {
	height: 100vh;
	width: 80%;
	margin: 0 auto;
	padding: 2rem;
	border: 1px solid #000;
	/* overflow: hidden; */
}

.slider {
	height: 100%;
	width: 100%;
}

.slider__items {
	height: 80%;
	width: 100%;
	display: flex;
	margin-bottom: 2rem;
}

.slider__item {
	height: 100%;
	width: 100%;
	display: none;
}

.slider__item:first-child {
	display: block;
}

.slide__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}